@import url('reset.css');

body {font: 62.5% Verdana, Arial, sans-serif; color:#333; background: #FF7F00; }

h1, h2, h3, h4, h5 {color:#636363;}
h1 {line-height:1em; font-size: 2.4em; margin: 1em 0; padding: 1em 18px .5em;}
h2 {font-size:2.2em; margin-bottom: .5em; line-height:1.125em; clear: both;}
h3 {font-size:1.8em; margin-bottom: .5em; }
h5 {float: right; padding:1em 1em;}

.exhibit-text h3 {clear: both; }
.exhibit-text {padding-top: 5px; }

a img {border:none;}
p,ul,ol,dl {font-size:1.2em; margin-bottom:1.5em; line-height:1.8em;}
p {padding: 0 18px 0 0;}

blockquote p {margin-bottom: .25em; font-style: italic; }
cite {font-size: .9em; text-align: right; font-style: normal; padding-bottom: 18px; }

.exhibit-description {font-size: 1.2em; padding-bottom: 18px; }

a:link {color: #636363;}
a:visited {color: #000000;}
a:hover {color: #333333; text-decoration: none;}
	h1 a, h1 a:visited {text-decoration: none; color:#663300;}
	h5 a, h5 a:visited {color: #663300;}

/* == Structure == */

#wrap {width:1000px; margin:0 auto 1em; overflow:hidden; background-color: #9b9c9b;}

#header {width: 763px; background-color: #FFFFFF; padding: 0 18px; margin: 0; border-left: 1px solid #c7b5a2; overflow: hidden;}

#exhibit-nav {float: left; width: 164px; padding: 0 18px; }
#content {background-color: #FFFFFF; float: right; overflow: hidden; min-height:400px; width: 763px; padding:0 18px; border-left: 1px solid #c7b5a2;}
#footer {clear: both; margin-top: 1em; padding: 1em;}
	#footer a {color: #333;}
	#footer a:visited {color: #666;}
		
/* =Exhibit Navigation= */	
ul.exhibit-page-nav {font-size: 1em; margin-bottom: 1.5em; line-height: 1.5em; }
.exhibit-page-nav {width: 164px; overflow:hidden; }
	.exhibit-page-nav li {width:auto; list-style-type:square;}
	.exhibit-page-nav li a {display:block; color: #000000; text-decoration:none; padding:.5em; border-bottom: 1px solid #636363; border-top: 1px solid #636363;}
	.exhibit-page-nav li.current a {color: #636363; font-weight: bold; border-bottom: 1px solid #636363; border-top: 1px solid #636363; background-color: #FCFCFC;}
	.exhibit-page-nav li a:hover {color: #636363; border-bottom: 1px solid #636363; border-top: 1px solid #636363; background-color: #FCFCFC;}
	
/* =Page Navigation= */
.exhibit-child-nav {list-style:none; float: left; padding-top: .5em; width: 100%; /* border-bottom: 1px solid #c7b5a2; */ }
	.exhibit-child-nav li {display:inline; float: left; margin-right:1.5em; text-align: left; font-size: 1.2em;}
	.exhibit-child-nav li a {text-decoration:none; color: #732425;}
	.exhibit-child-nav li.current a {color: #732425; /* border-bottom: 1px solid #6699ff; */ font-weight: bold; text-decoration: underline;}

/* == Previous-Next Navigation == */
#previous-next-nav {font-size:1.1em; border-top:1px solid #636363; clear: both;}
	#previous-next-nav a {text-decoration:none; color: #636363;}
#previous-next-nav .previous {float:left; width: 50%; margin-bottom:2em;}
#previous-next-nav .next {float:right; width: 50%; text-align:right; margin-bottom:2em;}

/* == Content == */
#exhibit-sections h3 {margin: 0 0 .5em; font-weight:bold; font-size: 1.2em; text-transform: uppercase; letter-spacing: .1em;}
	#exhibit-sections h3 a,#exhibit-sections h3 a:visited {text-decoration: none; color: #663300;}
	#exhibit-sections h3 a:hover {color: #6699ff;}
#exhibit-sections p {margin: 0 0 1.8em; padding: 0 18px 0 0;}
	
.commentary {background:#eee; padding:18px;}
	.commentary p {font-size:1.1em; line-height:1.63636;}
	
/* == Layout == */
.gallery-full-left,
.gallery-full-right,
.gallery-thumbnails,
.gallery-thumbnails-text-bottom,
.gallery-thumbnails-text-bottom-split,
.gallery-thumbnails-text-top,
.gallery-thumbnails-text-top-split,
.image-columns-left,
.image-columns-right,
.image-list-left,
.image-list-left-thumbs,
.image-list-right,
.image-list-right-thumbs,
.text-full,
.text-image-left,
.text-image-right,
.thumbnails-columns-left,
.thumbnails-columns-right
	{clear: both;}

.item img, .exhibit-item img {margin-bottom: 1.5em;}


.image-list-right-thumbs .exhibit-item .item-title, 
.image-list-left-thumbs .exhibit-item .item-title {padding-bottom: .5em; }


.exhibit-item .item-title { display: block; }

/*
.exhibit-item-caption p {font-size: 1em; }
*/


/* == Item Show == */
.item-title {padding-left: 0; margin-top: 0;}
.field {padding-bottom: 1em;}
.field-value {padding-left: 1.5em; margin-top: 0.75em; font-size: 1.2em; }
.tags {margin-bottom: 1em; font-size: 1.2em; }
#item-files {margin-bottom:1.5em;}

.item-file {float: left; height: 220px; padding: .5em; }

.element-set {clear: both; }

.element h3 {font-size: 1.5em;}

.element-text {padding-left: 1.5em; font-size: 1.2em; margin-bottom: 1em; }
